body {
    background-color: rgb(240, 240, 240); /* Fond blanc partout */
    transition: background-color 0.3s, color 0.3s;
    color: black; /* Texte en noir pour lisibilité */
    margin: 15px; /* Supprime les marges par défaut */
    padding: 15px; /* Supprime les marges intérieures */
}
#darkModeToggle {
    top: 20px; /* Distance par rapport au haut de la page */
    right: 20px; /* Distance par rapport à la droite de la page */
    padding: 10px 20px;
    font-size: 1.1rem; /* Taille de la police */
    background-color: #d4d4d4; /* Couleur de fond */
    border: none; /* Supprimer les bordures */
    cursor: pointer; /* Changer le curseur en pointeur lors du survol */
    border-radius: 5px; /* Bords arrondis */
}

body.dark-mode #darkModeToggle {
    background-color: #333;
    color: white;
}

body.light-mode #darkModeToggle {
    background-color: #d4d4d4; /* Couleur de fond */
    color: black;
}

/* Mode sombre */
body.dark-mode {
    background-color: #121212;
    color: white;
}

/* Mode sombre */
body.light-mode {
    background-color: rgb(240, 240, 240);
    color: black;
}

.header-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* espace entre le texte et le bouton */
    margin-bottom: 20px;
}
/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  align-items: center;
  background-color: #5c5c5c;
  overflow: hidden;
  border-radius: 10px
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

.topnav a:first-child {
  /* Les liens sauf le dernier (celui du bouton) restent collés à gauche */
  margin-left: 10px;
}

.topnav a:not(:last-child) {
  /* Les liens sauf le dernier (celui du bouton) restent collés à gauche */
  margin-right: 0;
}

.topnav a:last-child {
  margin-left: auto; /* pousse le bouton à droite */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #252525;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0d83d1;
  color: white;
}